{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'header.html' %}
    <main id="employee-list">
      <div class="list-title-wrapper">
        <h2>Employee List</h2>
        <a href="{% url 'employee_add' %}" class="btn"><i class="fas fa-plus"></i></a>
      </div>
      
      <table border="1">
      <thead>
          <tr>
          <th>Name</th>
          <th>E-mail</th>
          <th>Department</th>
          <th>Edit</th>
          <th>Delete</th>
          </tr>
      </thead>
      <tbody>
          {% for employee in object_list %}
          <tr>
          <td>{{ employee.name }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.department }}</td>
          <td>
            <a href="{% url 'employee_edit' employee.id %}">
              <i class="fas fa-edit"></i>
            </a>
          </td>
          <td>
            <a href="{% url 'employee_delete' employee.id %}" >
              <i class="fas fa-trash-alt"></i>
            </a>
          </td>
          </tr>
          {% endfor %}
      </tbody>
      </table>
    </main>
{% endblock %}