{% extends 'base.html' %}

{% block content %}
    {% include 'header.html' %}
    <main>
      <form method="post">{% csrf_token %}
        <div class="list-title-wrapper">
          <h2>Are you sure you want to delete "{{ object }}" ?</h2>
          <button type="submit" class="btn danger"><i class="fas fa-trash-alt"></i></button>
        </div>
        <table border="1">
            <thead>
                <tr>
                <th>Name</th>
                <th>E-mail</th>
                <th>Department</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>{{object.name}}</td>
                <td>{{object.email}}</td>
                <td>{{object.department}}</td>
                </tr>
            </tbody>
        </table>            
        </form>
    </main>
{% endblock %}